body{
    background-color: #F5F5F5 !important;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif !important;
}
body > header:first-of-type{
    width: 100%;
    height: 800px;
    -webkit-background-size:cover;
    background:url('../images/Picture1.jpg') 50% 50% / cover no-repeat fixed;
}

/* Start SECTION ================================================*/
section{
    background-color: white;
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    padding: 0;
    text-align: justify;
}


/* End SECTION ==================================================*/

/* Start News ===================================================*/
/* Start Show/Hide functionality. */
.more {
    display: none;
}

a.showLink, a.hideLink {
    text-decoration: none;
    color: #36f;
    padding-left: 2px;
}

a.showLink:hover, a.hideLink:hover {
    border-bottom: 1px dotted; }
/* End Show/Hide functionality. */

#newsh{
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding: 5% 0;

}
#news{
    display : inline-flex;
}

#news article{
    margin: 2% 4%;
    overflow: hidden;
}

.news-image{
    width: 30%;
    height: auto;
    display: inline-block;
    float: left;
    margin: 0 2% 0 0;
}
.news-image img{
    max-width:100%;
    max-height:100%;
}
.news-title{
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;

}






/* End News =====================================================*/



