#navbarCollapse {
    z-index: 999;
    position: absolute;
    right: 2%;
    display: block;
}

nav.affix-top {
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    transition: 1s;
    border: none;
    
}

nav.affix {
    z-index: 9999;
    position: fixed;
    top: 0;
    background: rgba(10, 10, 10, 0.9);
    width: 100%;
    transition: 3s;
    box-shadow: 0px 5px 20px #888888;
}



.in {
    border: 1px solid;
    position: relative;
    z-index: 999;
    background: rgba(10, 10, 10, 0.8);
    width: 200px;
}

.collapsing {
    width: 200px;
    background: rgba(10, 10, 10, 0.8);
}
/* RESOLUTIONS */
@media (min-width: 1200px) {
#myCarousel > div > div.item.active > div > div > p {
    font-size: 35px;
    transition: 0.7s;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
#myCarousel > div > div.item.active > div > div > p {
    font-size: 45px;
    transition: 0.7s;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
#myCarousel > div > div.item.active > div > div > p {
    font-size: 35px;
    transition: 0.7s;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
#myCarousel > div > div.item.active > div > div > p {
    font-size: 30px;
    transition: 0.7s;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
#myCarousel > div > div.item.active > div > div > p {
    font-size: 20px;
    transition: 0.7s;
    }
}
/* RESOLUTIONS */

/* ------------ GLOBAL ------------ */
body{
    background-color: #F5F5F5 !important;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif !important;
}

body > header:first-of-type {
    width: 100%;
    height: 100%;
    background:url('../images/backg3.jpg') 50% 50% / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.empty-space {
    width: 100%;
    height: 250px;
    background:url('../images/backg7.jpg') 50% 50% / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*------------ END GLOBAL ------------*/
/*------------------------------------------------ HEADER ------------------------------------*/
/*------------ Navbar ------------*/

/*------------ CAROUSEL HEADER ------------*/
.carousel-caption {
  z-index: 10;
  margin-bottom: 20px;
}

.carousel-indicators {
bottom: 20px;
}

.ppadding {
    margin-bottom: 130px;
}

.carousel .item {
    height: 500px;
}

#myCarousel > a.right.carousel-control {
    transition: 0.6s;
}

#myCarousel > a.left.carousel-control {
    transition: 0.6s;
}
/*------------ END CAROUSEL HEADER ------------*/

/*------------------------------------------------ END HEADER ------------------------------------*/



/*------------ h2 Gallery Heading ------------*/

body > section:nth-child(4) > h2:nth-child(1) {
    padding-top: 20px;
    margin-top: 0;
}

/*------------ END h2 Gallery Heading  ------------*/
/*------------ SECTION ------------*/
section {
    background-color: white;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    text-align: justify;
}


/*------------END SECTION ------------*/
/*------------ NEWS ------------*/
/* Start Show/Hide functionality. */
.more {
    display: none;
}

a.showLink, a.hideLink {
    text-decoration: none;
    color: #36f;
    padding-left: 2px;
}

a.showLink:hover, a.hideLink:hover {
    border-bottom: 1px dotted; }
/* End Show/Hide functionality. */

#newsh{
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding: 5% 0;

}
#news{
    display : inline-flex;
}

#news article{
    margin: 2% 4%;
}

.news-image{
    width: 30%;
    height: auto;
    display: inline-block;
    float: left;
    margin: 0 2% 0 0;
}
.news-image img{
    max-width:100%;
    max-height:100%;
}
.news-title{
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;

}

/*------------ END NEWS ------------*/