* {
    margin: 0;
    padding: 0;
}

section {
    font-family: Helvetica;
}
/*--------------- SECTION RADOST ---------------*/
#radost h1{
    font-size: 2.2rem;
    font-weight: 600;
    font-style: normal;
    color: darkslategrey;
    text-transform: uppercase;
    text-align: center;
    padding: 1% 0;
}


a,
a:visited,
a:active,
a:focus,
a:hover {
	text-decoration: none;
}
 h1:hover{
    text-decoration: none;
}
 a:hover{
    text-decoration: none;
}