
﻿* {
    margin: 0;
    padding: 0;
}

section {
    font-family: Helvetica;
    /*padding-top: 100vh;*/
}

section > h1{
    font-size: 2.2rem;
    font-weight: 600;
    font-style: normal;
    color: darkslategrey;
    text-transform: uppercase;
    text-align: center;
    border-bottom: dotted 1px #CCCCCC;
    padding: 1% 0;
}

section > h1:before{
    content: "\2014\2002";

}
section > h1:after{
    content: "\2002\2014";
}
/*------------------------------------------------ Radost ------------------------------------------------*/
/*------------ NEWS ------------*/

.article-form {
    padding: 1% 0;
    text-align: left;
    border-bottom: dotted 1px #CCCCCC;
}

/*------------- ARTICLE HEADER -------------*/
.header {

    font-weight: bold;
    text-align: left;
    margin-bottom: 3%;
}


header h2{
    margin: 0;
    /*color: tomato;*/
    color: #be3e19;
    font-size: 2.2rem;

}
header a:hover,
header a:active,
header a:visited,
header h2:hover,
header h2:active,
header h2:visited
{
    text-decoration: none;
}

time, .person-publ{
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    word-spacing: 0;
    text-align:	left;
    vertical-align: baseline;
    direction: ltr;
}


.person-publ:before{
    content: "\2002\2022\2002#";
    font-style: italic;
    text-transform: lowercase;
}

/*-------------- ARTICLE IMAGE ---------------------*/

/*#radost img {
    margin: 0;
    padding: 0;
    width: 100%;
}*/
.col-xs-12 img,
.col-md-8 img, 
.col-md-pull-4 img{
    max-width: 100%;
    color: #9d9d9d
}

/*=============== IMAGE HOVER ===============================*/

/* Trim */
.hvr-trim {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;

}
.hvr-trim:before {
    content: '';
    position: absolute;
    border: white solid 1px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    cursor:pointer;
}
.hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
    opacity: 0.7;
    cursor:pointer;
}

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    cursor:pointer;
}
.hvr-fade:hover:before, .hvr-fade:focus:before, .hvr-fade:active:before {
    /*background-color: rgba( 0, 0, 0, 0.5);*/
    background-color: rgba( 255, 255, 255, 0.2);
    color: white;
    cursor:pointer;
}


/*============================================================*/
/*----------- ARTICLE TEXT -----------------*/




/* ------------ Start Show/Hide functionality. ---------*/


/*------------------- ARTICLE MEDIA QUERY ---------------------*/



/*------------END SECTION NEWS ------------*/
/*------------------------------------------------ End Radost ------------------------------------------------*/
















/*------------END SECTION NEWS ------------*/
/*------------------------------------------------ End Radost ------------------------------------------------*/









