*,::before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro',helvetica,arial,sans-serif;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:focus {
    outline: 0;
    text-decoration: none;
    color: #707070;
}

a:hover {
    text-decoration: none;
    color: #707070;
}
section div{
    margin-top: 10px;
    margin-bottom: 20px;
}
.animate_element{
    width: 200px;
}

.member_item {
    position: relative;

    height: 300px;
    max-width: 280px;
    padding: 20px;
    margin: 0 auto 20px;

    border: 1px solid whitesmoke;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}



.member_item:before {
    content: '';
    position: absolute;
    z-index: 10;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 0;
    background-color: rgba(0,0,0,.15);
    -webkit-transition: all .2s ease-in-out;

    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.member_img {
                  overflow: hidden;
                  position: absolute;
                  z-index: 10;
                  width: 220px;
                  height: 220px;
                  margin: 0 -110px 35px;
                    display: inline-block;
                    -webkit-border-radius: 50%;
                     -moz-border-radius: 50%;
                    border-radius: 50%;
                    -khtml-border-radius: 50%;
                  -webkit-transition: all .2s ease-in-out;
                  -moz-transition: all .2s ease-in-out;
                  -o-transition: all .2s ease-in-out;
                  transition: all .2s ease-in-out;
                  top: 0;
                  left: 50%;
}
.member_img img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    vertical-align: middle;
}




.facebook_img{
    width: 47px;
    height: 46px;
    background: url(https://raw.githubusercontent.com/radostpachalieva/Teamwork-Web-AliceBlue/master/Teamwork-Tests-Team-Ali/images/mini-social-icons.png) -13px -103px;
    border-radius: 30px;
}
.softuni_img {
    width: 47px;
    height: 46px;
    background: url(https://raw.githubusercontent.com/radostpachalieva/Teamwork-Web-AliceBlue/master/Teamwork-Tests-Team-Ali/images/download.jpg);
    background-position: 0 0;
    border-radius: 30px;
}

.member_item:hover .member_img {
    transform: scale(0.3);
    -o-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    position: absolute;
    top: -60px;
}

.member_descr {
    position: absolute;
    z-index: 1;
    left: 25px;
    right: 25px;
    top: 230px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.member_item:hover .member_descr {
    top: 80px;
}

.member_name {
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.member_post {
    padding-bottom: 33px;
    font-size: 16px;
    color: #838590;
    text-align: center;
}

.member_item .member_social {
    padding-bottom: 33px;
}

.member_item .member_social a {
    display: inline-block;
    width: 50px;
    height: 48px;
    border-radius: 110px;
    -webkit-border-radius: 110px;
    line-height: 48px;
    font-size: 22px;
    color: #fff;
    background-color: #fff;

    margin-left: 27px;
    margin-right: 35px;
}

.facebook,.softuni {
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.softuni i,
.softuni:hover i {
    color: #2dc5eb;
}

.softuni:hover i {
    color: #fff;
}

.facebook i,
.facebook:hover i {
    color: #4d72bf;
}

.facebook:hover i {
    color: #fff;
}



.member_item .member_social a.softuni:hover {
    box-shadow: 0 0 0 25px #2dc5eb inset;
}

.member_item .member_social a.facebook:hover {
    box-shadow: 0 0 0 25px #4d72bf inset;
}

.member_about {
    height: 0;
    line-height: 20px;
    font-size: 14px;
    opacity: 0;
    color: #999;
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.member_item:hover .member_about,.member_item:hover .skill-member {
    opacity: 1;
    height: auto;
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
.services-box{
    border-radius: 50%;
}







